# Ignore all markdown files in root
/*.md

# But don't ignore README.md
!README.md

# Ignore potential env files
.env
.env.*

# Ignore git
.git/
.gitignore

# Generic ignores
.DS_Store
.idea/
.vscode/
